include(linux_ubuntu-24.04_clang18_x86_64_libc++_tsan_qt_and_more)

# See: https://gitlab.com/scandyna/conan-config/-/issues/7
# This profile should be removed once using Conan 2

[conf]
qt/6.*:tools.cmake.cmaketoolchain:user_toolchain+={{profile_dir}}/qt6_tsan_vars.cmake
# This does not work with conan 1:
#tools.cmake.cmaketoolchain:extra_variables={'FEATURE_sanitize_thread':'ON'}
